<header>
  <div class="header">
    <a href="#" class="logo"
      ><img src="../assets/white_on_trans.png" alt="CSS Header"
    /></a>
    <div class="header-center">
      <p-button label="Home" [text]="true"></p-button>
      <p-button label="Contact" [text]="true"></p-button>
      <p-button label="About" [text]="true"></p-button>
    </div>

    <div class="header-right">
      <p-button
        label="Sign In"
        [text]="true"
        icon="fa-solid fa-arrow-right-to-bracket"
      ></p-button>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
