body {
  margin: 0;
}

header {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 0px;
}

.header {
  overflow: hidden;
  padding: 10px 70px;
  display: flex;
}

.header img {
  width: 60px;
}

.header a {
  width: 20%;
}

.header-center {
  justify-content: start;
  display: flex;
  align-items: center;
  width: 70%;
}

.header-right {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  width: 10%;
}

::ng-deep {
  header {
    .p-button-label {
      font-size: larger;
      font-weight: 700 !important;
    }
  }
}
